.container-fluid{
    margin: 0;
    padding: 0;
    background-image: url('1561995.jpg');
    min-height: 100vh;
}
#heading{
    padding-top: 5vh;
    color: white;
    font-size: 30px;
    padding-bottom: 5vh;
}
#mov{
    padding-top: 10vh;
}
.card.h-100{
    border-radius: 17px;
    max-width: 40vh;
    
}
